// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$light-warn: mat-palette($mat-red, 400);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat-light-theme((color: (primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);

// Allows you to use "background: var(--color-primary)" in your css files
// Default settings for light theme 
:root {
  --color-primary: #{mat-color($light-primary)};
  --color-accent: #{mat-color($light-accent)};
  --color-warn: #{mat-color($light-warn)};
  --color-background: #2c2e33;
  --color-success: #accf67;
  --color-offwhite: rgb(252, 252, 252);
  --color-dark: #212121;
}

// ----------------- Colours (ALTERNATIVE THEME) ----------------- // 
// Example alternate Angular Material Theme
$dark-primary: mat-palette($mat-cyan, 300);
$dark-accent: mat-palette($mat-pink, 400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// <mat-card class="dark-theme">
.dark-theme {
  @include angular-material-theme($dark-theme);

  // Additional colours
  --color-primary: #{mat-color($dark-primary)};
  --color-accent: #{mat-color($dark-accent)};
  --color-warn: #{mat-color($dark-warn)};
  --color-background: #2c2e33;
  --color-success: #accf67;
  --color-offwhite: rgb(252, 252, 252);
  --color-dark: #212121;
}

// -------------------------------------------------------------- // 


// ----------------- Typography ----------------- // 
// Custom typography config
$heading-font-family: "monospace";
$custom-typography: mat-typography-config($font-family: 'Roboto Mono, Roboto, monospace, Courier New',
  $headline: mat-typography-level(32px, 48px, 700, $font-family: $heading-font-family),
  $display-2: mat-typography-level(32px, 48px, 700, $font-family: $heading-font-family));
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
// ---------------------------------------------- // 
