table {
    width: 100%;
  }

  .primary{
    color: var(--color-primary)
  }

  .text{
    color: var(--color-offwhite)
  }
  .search-text{
    color: var(--color-offwhite)
  }
.center-text{
      text-align: center;
  }

 .right-text{
    text-align: right;
  }
.spinner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-wrapper{
  /* border: 2px solid var(--color-offwhite) */

  padding: 2px 2px 2px 2px;
}
.active{
  background-color: var(--color-primary);
  color: var(--color-background) !important;
}