.container, table{
  min-width: 390px;
}


table {
    width: 100%;
  }

  .primary{
    color: var(--color-primary)
  }

  .text{
    color: var(--color-offwhite)
  }
  .search-text{
    color: var(--color-offwhite)
  }
.center-text{
      text-align: center;
  }

 .right-text{
    text-align: right;
  }

  .invisible{
    display: none;
  }
.spinner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-wrapper{
  /* border: 2px solid var(--color-offwhite) */

  padding: 2px 2px 2px 2px;
}
.active{
  background-color: var(--color-primary);
  color: var(--color-background) !important;
}

.group-text:hover{
  color: var(--color-primary);
  cursor: pointer;
}

.mat-column-position{
  flex: none;
  width: 5em;
}

.mat-column-rsn {
  flex: none;
  width: 15em;
}

.mat-column-total{
  flex: none;
  width: 8em;
}
/* 
.mat-column-groupname{
  flex: none;
} */
@media screen and (max-width: 767px) {
  .mat-column-position{
    width: 15% !important;
  }
  .mat-column-groupname{
    width: 30% !important;
  }
  
  .mat-column-rsn {
    width: 30% !important;
  }
  
  .mat-column-total{
    width: 10%;
  }
  
  }