<div class="container">
  <div class="row search-container">
    <div class="col col-lg-3"></div>
    <div class="col-lg-6 col-sm-12 center-text">
      <!-- <br />
      <div class="primary"><h2>GIM Rankings</h2></div>
      <br /> -->

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Search (rsn or group)</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Eg. Tip"
            class="search-text"
            type="text"
            [(ngModel)]="filterText"
            #input
          />
          <button
            [ngClass]="{ invisible: filterText.length === 0 }"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            color="primary"
            (click)="resetTextFilter()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col col-lg-3"></div>
  </div>

  <div class="row skills-filter-container">
    <div class="col col-lg-3"></div>
    <div class="col-lg-6 col-sm-12 center-text">
      <div class="row">
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'total' }"
            (click)="sortBy('total')"
            mat-button
          >
            <img
              src="../../../assets/overall.png"
              class="skillicon"
              alt="Overall"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["total"] }}
            </span>
          </a>
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Attack' }"
            mat-button
            (click)="sortBy('Attack')"
          >
            <img
              src="../../../assets/attack.png"
              class="skillicon"
              alt="Attack"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Attack"] }}
            </span>
          </a>
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Strength' }"
            mat-button
            (click)="sortBy('Strength')"
          >
            <img
              src="../../../assets/strength.png"
              class="skillicon"
              alt="Strength"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Strength"] }}
            </span>
          </a>
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Defence' }"
            mat-button
            (click)="sortBy('Defence')"
          >
            <img
              src="../../../assets/defence.png"
              class="skillicon"
              alt="Defence"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Defence"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Hitpoints' }"
            mat-button
            (click)="sortBy('Hitpoints')"
          >
            <img
              src="../../../assets/hitpoints.png"
              class="skillicon"
              alt="Hitpoints"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Hitpoints"] }}
            </span>
          </a>
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Prayer' }"
            mat-button
            (click)="sortBy('Prayer')"
          >
            <img
              src="../../../assets/prayer.png"
              class="skillicon"
              alt="Prayer"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Prayer"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Magic' }"
            (click)="sortBy('Magic')"
            mat-button
          >
            <img
              src="../../../assets/magic.png"
              class="skillicon"
              alt="Overall"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Magic"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Ranged' }"
            mat-button
            (click)="sortBy('Ranged')"
          >
            <img
              src="../../../assets/ranged.png"
              class="skillicon"
              alt="Ranged"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Ranged"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Runecraft' }"
            mat-button
            (click)="sortBy('Runecraft')"
          >
            <img
              src="../../../assets/runecraft.png"
              class="skillicon"
              alt="Runecraft"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Runecraft"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Construction' }"
            mat-button
            (click)="sortBy('Construction')"
          >
            <img
              src="../../../assets/construction.png"
              class="skillicon"
              alt="Construction"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Construction"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Agility' }"
            mat-button
            (click)="sortBy('Agility')"
          >
            <img
              src="../../../assets/agility.png"
              class="skillicon"
              alt="Agility"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Agility"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Herblore' }"
            mat-button
            (click)="sortBy('Herblore')"
          >
            <img
              src="../../../assets/herblore.png"
              class="skillicon"
              alt="Herblore"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Herblore"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Thieving' }"
            mat-button
            (click)="sortBy('Thieving')"
          >
            <img
              src="../../../assets/thieving.png"
              class="skillicon"
              alt="Thieving"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Thieving"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Crafting' }"
            mat-button
            (click)="sortBy('Crafting')"
          >
            <img
              src="../../../assets/crafting.png"
              class="skillicon"
              alt="Crafting"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Crafting"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Fletching' }"
            mat-button
            (click)="sortBy('Fletching')"
          >
            <img
              src="../../../assets/fletching.png"
              class="skillicon"
              alt="Fletching"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Fletching"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Slayer' }"
            mat-button
            (click)="sortBy('Slayer')"
          >
            <img
              src="../../../assets/slayer.png"
              class="skillicon"
              alt="Slayer"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Slayer"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Hunter' }"
            mat-button
            (click)="sortBy('Hunter')"
          >
            <img
              src="../../../assets/hunter.png"
              class="skillicon"
              alt="Hunter"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Hunter"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Mining' }"
            mat-button
            (click)="sortBy('Mining')"
          >
            <img
              src="../../../assets/mining.png"
              class="skillicon"
              alt="Mining"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Mining"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Smithing' }"
            mat-button
            (click)="sortBy('Smithing')"
          >
            <img
              src="../../../assets/smithing.png"
              class="skillicon"
              alt="Smithing"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Smithing"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Fishing' }"
            mat-button
            (click)="sortBy('Fishing')"
          >
            <img
              src="../../../assets/fishing.png"
              class="skillicon"
              alt="Fishing"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Fishing"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Cooking' }"
            mat-button
            (click)="sortBy('Cooking')"
          >
            <img
              src="../../../assets/cooking.png"
              class="skillicon"
              alt="Cooking"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Cooking"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Firemaking' }"
            mat-button
            (click)="sortBy('Firemaking')"
          >
            <img
              src="../../../assets/firemaking.png"
              class="skillicon"
              alt="Firemaking"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Firemaking"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Woodcutting' }"
            mat-button
            (click)="sortBy('Woodcutting')"
          >
            <img
              src="../../../assets/woodcutting.png"
              class="skillicon"
              alt="Woodcutting"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Woodcutting"] }}
            </span></a
          >
        </div>
        <div class="col-lg-2 col-3 skill-container">
          <a
            class="text skill-button"
            [ngClass]="{ activeskill: skillSort == 'Farming' }"
            mat-button
            (click)="sortBy('Farming')"
          >
            <img
              src="../../../assets/farming.png"
              class="skillicon"
              alt="Farming"
            />
            <span *ngIf="playerStatsView == true" class="statviewnumber">
              {{ selectedPlayerStats["Farming"] }}
            </span></a
          >
        </div>
      </div>
      <br />
      <div class="col col-lg-3"></div>
    </div>
  </div>

  <div class="row groupsize-filter-contaner">
    <div class="col-3"></div>
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <button
            mat-stroked-button
            [ngClass]="{ active: currentFilter === 'ALL' }"
            class="text mat-elevation-z2"
            (click)="filterSet('ALL')"
          >
            ALL
          </button>
        </div>
        <div class="col-2">
          <button
            mat-stroked-button
            [disabled]="
              (exactFilterFlag == true && currentGroupSize !== 2) ||
              (playerStatsView && currentGroupSize !== 2)
            "
            [ngClass]="{
              active: currentFilter === '2',
              disabled:
                (exactFilterFlag && currentGroupSize !== 2) ||
                (playerStatsView && currentGroupSize !== 2)
            }"
            class="text mat-elevation-z2"
            (click)="filterSet('2')"
          >
            2
          </button>
        </div>
        <div class="col-2">
          <button
            mat-stroked-button
            [disabled]="
              (exactFilterFlag == true && currentGroupSize !== 3) ||
              (playerStatsView && currentGroupSize !== 3)
            "
            [ngClass]="{
              active: currentFilter === '3',
              disabled:
                (exactFilterFlag && currentGroupSize !== 3) ||
                (playerStatsView && currentGroupSize !== 3)
            }"
            class="text mat-elevation-z2"
            (click)="filterSet('3')"
          >
            3
          </button>
        </div>
        <div class="col-2">
          <button
            mat-stroked-button
            [disabled]="
              (exactFilterFlag == true && currentGroupSize !== 4) ||
              (playerStatsView && currentGroupSize !== 4)
            "
            [ngClass]="{
              active: currentFilter === '4',
              disabled:
                (exactFilterFlag && currentGroupSize !== 4) ||
                (playerStatsView && currentGroupSize !== 4)
            }"
            class="text mat-elevation-z2"
            (click)="filterSet('4')"
          >
            4
          </button>
        </div>
        <div class="col-2">
          <button
            mat-stroked-button
            [disabled]="
              (exactFilterFlag == true && currentGroupSize !== 5) ||
              (playerStatsView && currentGroupSize !== 5)
            "
            [ngClass]="{
              active: currentFilter === '5',
              disabled:
                (exactFilterFlag && currentGroupSize !== 5) ||
                (playerStatsView && currentGroupSize !== 5)
            }"
            class="text mat-elevation-z2"
            (click)="filterSet('5')"
          >
            5
          </button>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="col-3"></div>
    <div class="row">
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-lg-8 col-sm-12 mat-elevation-z5 table-wrapper">
      <div *ngIf="loading" class="spinner-wrapper">
        <mat-spinner>Loading...</mat-spinner>
      </div>
      <table *ngIf="!loading" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let player">
            {{ player.position }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="rsn">
          <th mat-header-cell *matHeaderCellDef>RSN</th>
          <td mat-cell *matCellDef="let player">
            <span
              class="name-text"
              [ngClass]="{
                nameselected:
                  playerStatsView == true && nameSelected == player.rsn
              }"
              (click)="showStats(player.rsn)"
              >{{ player.rsn }}</span
            >
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.total }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalexp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.totalexp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Attack">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Attack }}
          </td>
        </ng-container>

        <ng-container matColumnDef="AttackExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.AttackExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Strength">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Strength }}
          </td>
        </ng-container>

        <ng-container matColumnDef="StrengthExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.StrengthExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Defence">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Defence }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DefenceExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.DefenceExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Hitpoints">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Hitpoints }}
          </td>
        </ng-container>

        <ng-container matColumnDef="HitpointsExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.HitpointsExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Prayer">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Prayer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PrayerExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.PrayerExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Magic">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Magic }}
          </td>
        </ng-container>

        <ng-container matColumnDef="MagicExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.MagicExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Ranged">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Ranged }}
          </td>
        </ng-container>

        <ng-container matColumnDef="RangedExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.RangedExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Runecraft">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Runecraft }}
          </td>
        </ng-container>

        <ng-container matColumnDef="RunecraftExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.RunecraftExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Construction">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Construction }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ConstructionExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.ConstructionExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Agility">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Agility }}
          </td>
        </ng-container>

        <ng-container matColumnDef="AgilityExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.AgilityExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Herblore">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Herblore }}
          </td>
        </ng-container>

        <ng-container matColumnDef="HerbloreExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.HerbloreExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Thieving">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Thieving }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ThievingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.ThievingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Crafting">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Crafting }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CraftingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.CraftingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Fletching">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Fletching }}
          </td>
        </ng-container>

        <ng-container matColumnDef="FletchingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.FletchingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Slayer">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Slayer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SlayerExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.SlayerExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Hunter">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Hunter }}
          </td>
        </ng-container>

        <ng-container matColumnDef="HunterExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.HunterExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Mining">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Mining }}
          </td>
        </ng-container>

        <ng-container matColumnDef="MiningExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.MiningExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Smithing">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Smithing }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SmithingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.SmithingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Fishing">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Fishing }}
          </td>
        </ng-container>

        <ng-container matColumnDef="FishingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.FishingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Cooking">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Cooking }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CookingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.CookingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Firemaking">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Firemaking }}
          </td>
        </ng-container>

        <ng-container matColumnDef="FiremakingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.FiremakingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Woodcutting">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Woodcutting }}
          </td>
        </ng-container>

        <ng-container matColumnDef="WoodcuttingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.WoodcuttingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Farming">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let player">
            {{ player.Farming }}
          </td>
        </ng-container>

        <ng-container matColumnDef="FarmingExp" class="expTable">
          <th mat-header-cell *matHeaderCellDef>XP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.FarmingExp.toLocaleString("en") }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="groupname">
          <th mat-header-cell *matHeaderCellDef>Group</th>
          <td mat-cell *matCellDef="let player">
            <span
              class="group-text"
              [ngClass]="{ groupselected: exactFilterFlag == true }"
              (click)="filterByGroupName(player.groupname)"
              >{{ player.groupname }}</span
            >
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container *ngIf="currentFilter == 'ALL'" matColumnDef="groupsize">
          <th mat-header-cell *matHeaderCellDef>Size</th>
          <td mat-cell *matCellDef="let player">
            {{ player.groupsize }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="toprow"
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of players"
        class="bottomrow"
      >
      </mat-paginator>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-lg-6 col-sm-12 center-text text small">
      <br />
      Last updated:
      <span class="primary">{{ GIM_DATA[0].updated_at | date: "medium" }}</span>
      (~{{ GIM_DATA[0].updated_at | dateAgo }})
      <br />
      Only included if your group is within the top 200 overall for their group
      size ({{ GIM_DATA.length }} players loaded)
    </div>
    <div class="col"></div>
  </div>
</div>
